* {
    margin: 0;
    padding: 0;
    /* border: .1px solid rgb(47, 255, 0); */
}

/* ----- Estilos de texto ----- */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25;
}

p {
    font-size: 1rem;
    color: #4D4D4D;
}

.titulo-rojo {
    color: #CD4631;
}

a{
    text-decoration: none;
    color: black;
}

nav a {
    color: black;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

body {
    font-family: "Montserrat Alternates";
}

/* ----- Header ----- */

.header {
    background-color: #F7EDE8;
    padding: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* border-bottom: 1px solid #4D4D4D; */
}

/* ----- Footer ----- */

.footer-top {
    height: 618px;
    margin: 0px 100px 0px 100px;
    text-align: left;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    align-content: center;
    border-top: 1px solid #4D4D4D;
}

.footer-top-columnas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    margin-bottom: 50px;
}

/* ----- Portada/Titulo ----- */

.portada {
    background-color: #F7EDE8;
    padding: 180px 0px 100px 0px;
    text-align: center;
    height: 80%;
}

.portada-paginas {
    background-color: #F7EDE8;
    padding: 180px 250px 100px 250px;
    text-align: center;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.carrousel-portada {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    overflow: scroll;
    align-items: space-between;
    gap: 20px;

}

/* ----- Elementos ----- */

.boton {
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    box-shadow: 6px 6px #00000042;
    padding: 20px 36px 20px 36px;
    text-align: center;
}

.boton:hover {
    background-color: #CD4631;
    color: white;
    
}

.divisor {
    margin: 50px 0px 50px;
    color: #4D4D4D;
}

/* ============= INDEX ============= */

/* -------- Servicios -------- */

.index-seccion-servicios {
    text-align: center;
    padding: 130px 150px 130px 150px;
}

.contenedor-servicios {
    padding: 90px 90px;
    display: grid;
    row-gap: 80px;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.servicio {
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.icono-servicio {
    width: 64px;
    height: 64px;
}

/* -------- Portfolio -------- */

.seccion-portfolio {
    background-color: #F7EDE8;
    text-align: center;
    padding: 130px 150px 130px 150px;
}

.contenedor-tarjetas-portfolio {
    padding: 90px 0px 90px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, minmax(570px, 1fr));
    justify-content: center;
}

.tarjeta-portfolio {
    overflow: hidden;
    border: solid 2px black;
    background-color: white;
    padding: 20px;
    text-align: left;
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    gap: 20px;
    
}

.contenedor-textos-portfolio {
    display: grid;
    gap: 20px;
    padding: 20px 10px 20px 20px;
}

.img-portfolio {
    display: grid;
    width: 166px;
    height: 166px;
    border-radius: 10px;
}

.contenedor-tags-portfolio {
    grid-column: span 2;
    
}

.tag-portfolio{
    border: 1px solid #4D4D4D;
    padding: 6px 12px;
    border-radius: 4px;
}

/* ============= PAGINA SERVICIOS ============= */

.listado-servicios {
    margin: 90px 0px 90px;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 100px;
}

.contenedor-servicio {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

}

.img-servicio {
    width: 560px;
    height: 373px;
    background-image: url("/img/no-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ============= PAGINA PORTFOLIO ============= */

.fondo-blanco {
    background-color: white;
}

.contenedor-menu-portfolio {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #4D4D4D;
}

.menu-portfolio {
    color: #4D4D4D;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-portfolio:hover {
    color: #CD4631;
}

/* ============= PAGINA CONTACTO ============= */

.seccion-contacto {
    margin: 90px 0px 90px;
}

.contenedor-form {
    margin: 60px 0px 60px;
}